*{
    padding: 0;
    margin: 0;


}
select {
    appearance: none;         /* لإزالة السهم في المتصفحات الحديثة */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 15px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}
div {
    display: flex;               
    text-align: center;                 
    align-items:flex-end;   
    margin-bottom: 15px;    
}
 img {
    width: 250px;                
    font-size: 20px;
    border: 0;
    padding: 10px 200px;
    border-radius: 3px;
           
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #ff4081;
    color: white;
    position: sticky;
    width: 100%;
    bottom: 0;
}
 